<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="highlight/styles/default.css">
	<!-- <script src="highlight/highlight.pack.js"></script>
	<script>hljs.initHighlightingOnLoad();</script> -->
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap" rel="stylesheet">
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<!-- <script src="https://kit.fontawesome.com/25d307a19a.js" crossorigin="anonymous"></script> -->
	<style type="text/css">
		#mainCols{
			display: flex;
			flex-wrap: nowrap;
		}

		#nav{
			display: flex;
			align-items: stretch;
		}

		div, iframe, pre{
			box-sizing: border-box;
		}

		#studentCol{
			width: 10%;
		}

			#studentCol div{
				padding: .5em
			}

			#studentCol div:hover{
				cursor: pointer;
				background: dodgerblue;
				color: white;
			}

			.selectedStudent{
				background: dodgerblue;
				color: white;
			}

		#testerCol{
			width: 45%;
		}
			#testerCol iframe, #codeCol pre{
				width: 100%;
				border: none;
				border-bottom: 1px solid dodgerblue;
				height: 500px;
				margin: 0;
				padding: .5em;
				overflow: scroll;
				display:block;
			}
		#codeCol{
			width: 45%;
		}

		/*iframe{
			transform: scale(0.75);
		}*/
	</style>
</head>
<body>

	<div id="mainContain">
		<h1>Grader</h1>
		
		<div id="nav">
			<div style="width: 10%"><button v-on:click="save()">Save</button></div>
			<div style="width: 90%; display: flex; align-items: flex-start;">
				<input id="studentGrade" v-model="selectedStudent.grade" placeholder="grade" style="width: 15%;" />
				<textarea id="studentComments" v-model="selectedStudent.comments" placeholder="comments" style="width: 70%; margin-left: 5%;"></textarea>
			</div>
		</div>
		<div id="mainCols">
			<div id="studentCol">
				<div v-for="student in students" v-on:click="selectStudent(student)" v-bind:class="{selectedStudent: selectedStudent.dir == student.dir}">
					{{student.dir}}
				</div>
			</div>
			<div id="testerCol">
				
			</div>
			<div id="codeCol">
				
			</div>
		</div>
	</div>

	<script src="https://unpkg.com/vue"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript">
		
		var dat;

		var V = new Vue({
			el: '#mainContain',
			data: {
				hwDir: 'hw03',
				outputDir: 'output',
				students: [],
				selectedStudent: {
					grade: 'NONE',
					comments: "No student selected"
				}
			},
			computed: {

			},
			mounted(){
		        this._keyListener = function(e) {
		            if (e.key === "s" && (e.ctrlKey || e.metaKey)) {
		                e.preventDefault(); // present "Save Page" from getting triggered.
		                console.log(e);
		                V.save();
		            }
		            if (e.key === "ArrowRight") {
		                e.preventDefault(); // present "Save Page" from getting triggered.
		                console.log("NEXT FILE");
		            }
		            if (e.key === "ArrowLeft") {
		                e.preventDefault(); // present "Save Page" from getting triggered.
		                console.log("PREV FILE");
		            }
		            if (e.key === "ArrowUp") {
		                e.preventDefault(); // present "Save Page" from getting triggered.
		                console.log("PREV STUDENT");
		                V.prevStudent();
		            }
		            if (e.key === "ArrowDown") {
		                e.preventDefault(); // present "Save Page" from getting triggered.
		                console.log("NEXT STUDENT");
		                V.nextStudent();
		            }
		        };

		        document.addEventListener('keydown', this._keyListener.bind(this));
		    },
			methods: {
				init: function(){

					var studentFoldersPath = V.hwDir+'/'+V.outputDir;
					$.get('ls/'+studentFoldersPath, function(resp){
						var dirs = resp;
						dirs.forEach(function(dir){
							if (dir[0] !== '.'){
								V.students.push({
									dir: dir,
									grade: '',
									comments: '',
									graded: false
								})
							}
						})

						V.load();
					})
				},
				save: function(){
					var dat = "";
					V.students.forEach(function(student){
						if (student.grade !== ''){
							dat += "!"+student.dir+" "+student.grade+"\n";
							if (student.comments !== '')
								dat += student.comments+"\n"
							dat += "\n"
						}
					})

					axios({
						method: 'post',
						url: '/save',
						data: {
							dir: V.hwDir,
							dat: dat
						}
					}).then(function(resp){
						console.log(resp)
					})
				},
				load: function(){
					axios({
						method: 'get',
						url: '/load/'+V.hwDir
					}).then(function(resp){
						// var raw = resp.data.split('\n\n') // this could be problem in comments
						// var ar = raw.map(function(txt){
						// 	var lines = txt.split("\n");
						// 	console.log(lines);
						// 	if (lines[0][0] !== "!"){
						// 		console.log("ERROR: loading found inconsistent new lines")
						// 		return false;
						// 	}
						// 	var far = lines[0].substring(1)[0].split(" ")
						// 	console.log(far);
						// 	return {
						// 		dir: far[0],
						// 		grade: far[1],
						// 		comments: lines[1],
						// 		graded: true
						// 	}
						// })

						var lines = resp.data.split('\n');
						console.log(lines)
						var savedStudents = []
						var nextStudent = {comments: []}
						for (var i = 0; i < lines.length; i++) {
							var line = lines[i]
							if (line === "")
								continue;
							if (line[0] === "!"){
								if (nextStudent.dir !== undefined)
									savedStudents.push(nextStudent)

								var lar = line.substring(1).split(" ")
								nextStudent = {comments: []}
								nextStudent.dir = lar[0];
								nextStudent.grade = lar[1];
							}
							else{
								nextStudent.comments.push(line)
							}
						}

						if (nextStudent.dir !== undefined)
							savedStudents.push(nextStudent);

						// ar = ar.filter(function(o){ 
						// 	if (o === false)
						// 		return false;
						// 	else
						// 		return true;
						// });

						console.log(savedStudents);

						savedStudents.forEach(function(savedStudent){
							var stu = _.find(V.students, function(student){
								return student.dir == savedStudent.dir
							})
							stu.grade = savedStudent.grade;
							stu.comments = savedStudent.comments.join('\n\n');
							stu.graded = savedStudent.graded;
						})

						V.selectedStudent = V.students[0];
					})
				},
				nextStudent: function(){
					var ind = _.findIndex(V.students, function(stu){
						return stu.dir == V.selectedStudent.dir;
					})
					console.log(ind)
					ind += 1;
					if (ind >= V.students.length)
						ind = 0;
					console.log(ind)
					console.log(V.students[ind])
					V.selectStudent(V.students[ind])
				},
				prevStudent: function(){
					var ind = _.findIndex(V.students, function(stu){
						return stu.dir == V.selectedStudent.dir;
					})
					console.log(ind)
					ind -= 1;
					if (ind < 0)
						ind = V.students.length-1;
					console.log(ind)
					console.log(V.students[ind])
					V.selectStudent(V.students[ind])
				},
				selectStudent: function(student){
					V.selectedStudent = student;
					var stuPath = [V.hwDir, V.outputDir, student.dir].join('/');
					$('#testerCol').html("");
					$('#codeCol').html("");
					$.get('ls/'+stuPath, function(resp){
						console.log(resp);
						var files = resp.sort();
						var htmlFiles = files.filter(function(file){
							var tar = file.split('.')
							return tar[tar.length-1] == 'html';
						})

						var pyFiles = files.filter(function(file){
							var tar = file.split('.')
							return tar[tar.length-1] == 'py' && file.indexOf('grader') === -1;
						})

						V.selectedStudent.files = pyFiles.map(function(pyFile){
							// loop over html files and see if there is a corresponding grade file
						})

						// console.log(htmlFiles);
						// console.log(pyFiles);

						// create iframes
						htmlFiles.forEach(function(file){
							var el = document.createElement('iframe');
							el.setAttribute('src', stuPath+'/'+file)
							$('#testerCol').append(el);
						})

						V.getHighlightedPythonFiles(stuPath, pyFiles);
					})
				},
				getHighlightedPythonFiles: function(studentPath, files){
					axios({
						method: 'post',
						url: '/getHighlightedPythonFiles',
						data: {
							path: studentPath,
							files: files,
						}
					}).then(function(resp){
						console.log(resp);
						resp.data.forEach(function(file){
							var el = document.createElement('pre')
							el.innerHTML = file;
							$('#codeCol').append(el);
						})
					})
				},
				getFile: async function(path){
					var result = await axios({
						method: 'post',
						url: '/highlightFile',
						data: {
							path: path
						}
					}).then(function(resp){
						console.log(resp);
						return resp;
					})
				}
			}
		});

		V.init();

		var getUrlParameter = function getUrlParameter(sParam) {
		    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
		        sURLVariables = sPageURL.split('&'),
		        sParameterName,
		        i;

		    for (i = 0; i < sURLVariables.length; i++) {
		        sParameterName = sURLVariables[i].split('=');

		        if (sParameterName[0] === sParam) {
		            return sParameterName[1] === undefined ? true : sParameterName[1];
		        }
		    }
		};
				


	</script>
</body>
</html>