<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="highlight/styles/default.css">
	<!-- <script src="highlight/highlight.pack.js"></script>
	<script>hljs.initHighlightingOnLoad();</script> -->
	<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inconsolata:wght@400;700&family=Libre+Franklin:wght@400;700&display=swap" rel="stylesheet">
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<!-- <script src="https://kit.fontawesome.com/25d307a19a.js" crossorigin="anonymous"></script> -->
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<div id="mainContain">

		<!-- <div id="saveDot" v-on:click="save()" v-bind:style="{color: saved ? '#7ea04d' : '#c56183'}">
			<span v-if="saved">Saved</span><span v-else>Unsaved Changes</span> 
			&middot;
		</div> -->

		<!-- <div id="assessmentContain">
			<input id="studentGrade" v-model="selectedStudent.grade" placeholder="grade" />
			
		</div> -->
		
		<div id="mainCols">
			<div id="studentCol">
				<div id="nav">
					<h1>101 Grader</h1>
					<div style="display: flex; justify-content: space-around;">
						<button v-on:click="view = 'setup'">Settings</button>
						<button v-on:click="view = 'grade'">Grade</button>
						<button id="saveBtn" v-on:click="save()">
							<span v-if="saving">Saving</span>
							<span v-else>Save</span>
						</button>
					</div>
					
					<!-- <div><button v-on:click="save()">Save</button></div> -->
					<!-- <div style="width: 20%;"></div> -->
				</div>

				<div class="studentColRow" v-for="student in students" v-on:click="selectStudent(student); view = 'grade'" v-bind:class="{selectedStudent: selectedStudent.dir == student.dir}">
					<!-- <span v-if="student.grade !== ''">&checkmark;</span>  -->
					<!-- {{student.dir | truncate(20)}} -->
					{{student.dir.split('_')[anonymize]}}
				</div>
			</div>
			<div id="infoCol" v-if="view == 'grade' && size(rubric) !== 0">
				<div id="fileNav">
					<div v-for="file in selectedStudent.files" v-on:click="selectFile(file)" v-bind:class="{selectedFile: selectedStudent.selectedFile.name == file.name}">{{file.name}}</div>
				</div>
				<div id="fileContain">
					
					<!-- <textarea v-model="pipedInput" style=""></textarea> -->

					<div v-if="selectedStudent.selectedFile.type == 'py'" style="display: flex; margin-bottom: .5em;">

						<pre id="terminal" v-html="'PROGRAM OUTPUT\n'+terminal"></pre>
						<div id="scriptOptions">
							<input id="pipedInput" placeholder="piped input seperated by commas" v-model="fileInput" style="width: 100%;" v-on:keyup.enter="runScript();"/>
							<button v-on:click="runScript()">Run Script with Piped Input</button>
							<textarea id="additionalCode" placeholder="additional code to append to file" v-model="additionalCode" style="width: 100%"></textarea>
							<button v-on:click="runScriptWithLine()">Run Script with Additional Code</button>
							<button v-on:click="runMode = runMode == 'original' ? 'edited' : 'original'">Toggle Editor</button>
							<input type="checkbox" id="autoRun" v-model="autoRunMode">
							<label for="autoRun">Auto Run w/ Add. Code</label>
						</div>
					</div>
					
					

					<div v-if="runMode == 'original'">
						<div v-if="selectedStudent.selectedFile.graderHtml" v-html="selectedStudent.selectedFile.graderHtml"></div>
						<div v-if="selectedStudent.selectedFile.html" v-html="selectedStudent.selectedFile.html"></div>
					</div>
					<div v-else>
						<button v-on:click="runEditedScript()">Run Edited Script</button>
						<textarea id="scriptEditor" v-model="selectedStudent.selectedFile.raw"></textarea>
					</div>

					
					

					
					

					<!-- <input id="runCommand" v-model="runCommand" style="width: 70%"/> <button v-on:click="copyRunCommand()">Copy</button>&nbsp; -->

				</div>
			</div>

			<!-- GRADE COL -->
			<div id="gradeCol" v-if="view == 'grade'">
				<select id="rubricCatSelector" v-model="selectedRubricCatID" @change="selectedRubricCat = rubric[selectedRubricCatID]">
					<option v-for="(cat,cid) in rubric" v-bind:value="cid">
						{{ cat.name }}
					</option>
				</select>

				<div id="rubricCatProgressBar">
					<div class="back"></div>
					<div class="front" v-bind:style="{width: (rubricCatProgress(selectedRubricCat)/students.length)*100+'%'}"></div>
				</div>
				<div id="textProgress">{{rubricCatProgress(selectedRubricCat)}} of {{students.length}} graded</div>

				<div style="margin-bottom: 1.6em; font-weight: bold;">
					{{selectedStudent.rubric[selectedRubricCatID].points}}<!-- /{{selectedRubricCat.points}} points -->
				</div>

				<div class="rubricItem" v-for="(item, itemID, index) in selectedRubricCat.items">
					<div class="rubricItemIndex" v-bind:class="{selected: selectedStudent.rubric[selectedRubricCatID].items.indexOf(itemID) !== -1}">{{(index+1)}}</div>
					<div>
						<input class="rubricItemPoints" v-model="item.points">
						<input class="rubricItemDesc" v-model="item.desc">
					</div>
				</div>
				<div class="rubricItem">
					<div class="rubricItemIndex">{{(Object.keys(selectedRubricCat.items).length+1)}}</div>
					<div>
						<input class="rubricItemPoints" v-model="newRubricItem.points" placeholder="pts">
						<input class="rubricItemDesc" v-model="newRubricItem.desc" placeholder="description" v-on:keyup.enter="addRubricItem(selectedRubricCat)">
					</div>
				</div>

				<textarea id="studentCatComments" v-model="selectedStudent.rubric[selectedRubricCatID].comments" placeholder="problem specific comments"></textarea>

				<p style="font-size: .7em;">Adjustment: <input style="width: 20%;" v-model="selectedStudent.gradeAdjustment"></p>
				<textarea id="studentComments" v-model="selectedStudent.comments" placeholder="additional or general comments"></textarea>

				<select v-model="easyFeedback" @change="selectedStudent.comments += easyFeedback">
					<option v-for="comment in studentComments" v-bind:value="comment">
						{{comment}}
					</option>
				</select>

				<div>Total Grade: {{studentGrade(selectedStudent)}}/{{highestPossibleGrade()}}</div>
			</div>

			<!-- SETUP -->
			<div id="setupCol" v-if="view == 'setup'">

				<h2>Setup</h2>

				<h3>Files and Directories</h3>
				<p>
					HW Directory: <input v-model="hwDir" style="width: 80%;" />
				</p>
				<p>
					Path to Email Addresses: <input v-model="emailAddressPath" style="width: 80%;" />
				</p>
				<!-- <p>Names Need Reformatting: <input type="checkbox" v-model="namesNeedReformatting"></p> -->
				<p>
					<button v-on:click="reload()">Reload</button>
					<button v-on:click="copyCommonFiles()">Copy Common Files</button>
					<button v-on:click="runGrader()">Run grader.py</button>
					<button v-on:click="makeGradeWorksheet()">Make Grade Worksheet</button>
					<button v-on:click="anonymize = anonymize == 0 ? 1 : 0">Toggle Anonymity</button>
				</p>

				<h3>Rubric</h3>
				<div v-for="(cat, cid) in rubric" style="margin-bottom: .5em">
					<input v-model="cat.name"> <input v-model="cat.points">
				</div>
				<div>
					<input id="newRubricCategoryInp" placeholder="New Rubric Category" v-model="newRubricCat.name"> <input placeholder="pts" v-model="newRubricCat.points" type="number" v-on:keyup.enter="addRubricCat()">
				</div>


				<h3>Student Overview</h3>
				<table id="studentOverview" v-if="size(rubric) !== 0">
					<tr>
						<th>Student</th>
						<th v-for="(cat, cid) in rubric">{{cat.name}} ({{cat.points}})</th>
						<th>Total ({{highestPossibleGrade()}})</th>
					</tr>
					<tr v-for="student in students">
						<td>{{student.dir.split('_')[0]}}</td>
						<td v-for="(cat, cid) in rubric">{{studentCatGrade(student, cid)}}</td>
						<td>{{studentGrade(student)}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<script src="https://unpkg.com/vue"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript">
		
		var dat;

		var V = new Vue({
			el: '#mainContain',
			data: {
				hwDir: '/Users/ndiana/Documents/Classes/Fall2020/COSC101L/grading/prelab4',
				emailAddressPath: '/Users/ndiana/',
				outputDir: 'output',
				students: [],
				selectedStudent: {
					grade: 'NONE',
					comments: "No student selected",
					files: [],
					dir: "",
					selectedFile: {
						runOriginal: true,
						name: "",
						graderHtml: "",
						html: ""
					},
					rubric: {
						// 'c-dummy': {items: [], points: 0, comments: ""}
					}
				},
				namesNeedReformatting: false,
				runCommand: "",
				fileInputs: {},
				fileInput: "",
				terminal: "",
				additionalCode: "",
				saving: false,
				saved: false,
				runMode: 'original',
				autoRunMode: false,
				previouslySelectedFile: '',
				view: 'setup',
				rubric: {
					// "c-dummy": {name: "Dummy", points: 0, items: {}}
				},
				newRubricCat: {
					name: "",
					points: ""
				},
				selectedRubricCat: { name: "", items: []},
				selectedRubricCatID: "c-dummy",
				newRubricItem: {
					points: "",
					desc: ""
				},
				easyFeedback: "",
				anonymize: 0
			},
			computed: {
				studentComments: function(){
					if (V == undefined)
						return [];
					return V.students.filter(function(stu){
						return stu.comments !== "";
					}).map(function(stu){
						return stu.comments;
					})
				}
			},
			watch: {
				students: {
					deep: true,
					handler(){
						V.saved = false;
					}
				},
				fileInput: function(newVal, oldVal){
					V.fileInputs[this.selectedStudent.selectedFile.name] = V.fileInput;
				}
			},
			mounted(){
		        this._keyListener = function(e) {
		            if (e.key === "s" && (e.ctrlKey || e.metaKey)) {
		                e.preventDefault(); // present "Save Page" from getting triggered.
		                console.log(e);
		                V.save();
		            }

		            // if (e.key === "Tab") {
	            	// 	e.preventDefault();
	            	// 	if (document.activeElement.id == 'studentGrade'){
	            	// 		document.getElementById('studentComments').focus();
	            	// 	}
	            	// 	else if (document.activeElement.id == 'studentComments'){
	            	// 		document.getElementById('studentGrade').focus();
	            	// 	}
	            	// 	else{
	            	// 		document.getElementById('studentGrade').focus();
	            	// 	}
		            // }

		            var textareas = ['studentCatComments', 'studentComments', 'additionalCode', 'scriptEditor'];
		            var inputBoxes = ['studentGrade', 'pipedInput']

		            // If textarea, return early
		            if (textareas.indexOf(document.activeElement.id) !== -1){
		            	if (e.key === "Escape") {
		            		e.preventDefault();
		            		document.activeElement.blur();
			            }
		            	return;
		            }

		            if (e.key === "ArrowUp") {
		                console.log("PREV STUDENT");
		                e.preventDefault();
		                V.prevStudent();
		            }
		            if (e.key === "ArrowDown") {
		                console.log("NEXT STUDENT");
		                e.preventDefault();
		                V.nextStudent();
		            }
		            if (e.key === "]") {
		                console.log("NEXT RUBRIC CATEGORY");
		                e.preventDefault();

		                var match = 0;
		                for (var i = 0; i < Object.keys(V.rubric).length; i++) {
		                	if (Object.keys(V.rubric)[i] == V.selectedRubricCatID)
		                		match = i + 1;
		                }
		                if (match >= Object.keys(V.rubric).length)
		                	match = 0

		                V.selectedRubricCatID = Object.keys(V.rubric)[match]
		                V.selectedRubricCat = V.rubric[V.selectedRubricCatID]
		            }
		            if (e.key === "[") {
		                console.log("PREV RUBRIC CATEGORY");
		                e.preventDefault();

		                var match = 0;
		                for (var i = 0; i < Object.keys(V.rubric).length; i++) {
		                	if (Object.keys(V.rubric)[i] == V.selectedRubricCatID)
		                		match = i - 1;
		                }
		                if (match < 0)
		                	match = Object.keys(V.rubric).length-1;

		                V.selectedRubricCatID = Object.keys(V.rubric)[match]
		                V.selectedRubricCat = V.rubric[V.selectedRubricCatID]
		            }

		            // If inputs, check for up or down, then return
		            // if (inputBoxes.indexOf(document.activeElement.id) !== -1){
		            if (document.activeElement.tagName == "INPUT"){
		            	if (e.key === "Escape") {
		            		e.preventDefault();
		            		document.activeElement.blur();
			            }
		            	return;
		            }

		            if (['1', '2', '3', '4', '5', '6', '7', '8', '9'].indexOf(e.key) !== -1){
		            	e.preventDefault();
		            	var idx = parseInt(e.key)-1;
		            	var idxID = Object.keys(V.selectedRubricCat.items)[idx];
		            	if (idx < Object.keys(V.selectedRubricCat.items).length){
		            		var c = V.selectedStudent.rubric[V.selectedRubricCatID];
		            		if (c.items.indexOf(idxID) !== -1){ // if in list
		            			c.items = _.reject(c.items, function(x){ 
		            				return x ==  idxID
		            			})
		            		}
		            		else{
		            			c.items.push(idxID)
		            		}
		            	}
		            }

		            if (e.key === "ArrowRight") {
		                console.log("NEXT FILE");
		                e.preventDefault();
		                V.nextFile()
		            }
		            if (e.key === "ArrowLeft") {
		                console.log("PREV FILE");
		                e.preventDefault();
		                V.prevFile();
		            }

		            // Up and Down Works for grade, but not for text area


		            
		        };

		        document.addEventListener('keydown', this._keyListener.bind(this));
		    },
			methods: {
				init: function(){

					var lsHWDir = localStorage.getItem('hwDir');
					if (lsHWDir)
						V.hwDir = lsHWDir;

					var lsEmails = localStorage.getItem('emailAddressPath');
					if (lsEmails)
						V.emailAddressPath = lsEmails;

					var lsNamesNeedReformatting = localStorage.getItem('namesNeedReformatting');
					if (lsNamesNeedReformatting && lsNamesNeedReformatting !== null){
						V.namesNeedReformatting = JSON.parse(lsNamesNeedReformatting);
					}

					var lsAdditionalCode = localStorage.getItem('additionalCode');
					if (lsAdditionalCode)
						V.additionalCode = lsAdditionalCode;

					var lsPipedInput = localStorage.getItem('pipedInput');
					if (lsPipedInput)
						V.fileInput = lsPipedInput;

					var studentFoldersPath = V.hwDir+'/'+V.outputDir;
					console.log(studentFoldersPath);

					V.loadStudentData();
				},
				loadStudentData: function(){
					axios({
						method: 'post',
						url: '/loadStudentData',
						data: {
							dir: V.hwDir
						}
					}).then(function(resp){
						console.log(resp);
						if (resp.data !== ""){
							console.log("Student Data Found")
							V.students = resp.data;
							V.selectStudent(V.students[0]);
							V.loadEmailAddresses();
							V.loadRubricData();
						}
						else{
							console.log("Student Data Not Found")
							V.studentDataFromScratch();

							// intentionally not loading rubric data, so that new 
							// student data can be populated with rubric data
							// potentially need an updateStudentData that would gen rubric
							// for late submissions
						}
					});
				},
				studentDataFromScratch: function(){
					console.log("Building student data from scratch")
					// get all directories in output
					var studentFoldersPath = V.hwDir+'/'+V.outputDir;
					axios({
						method: 'post',
						url: '/ls',
						data: {
							path: studentFoldersPath
						}
					}).then(function(resp){
						var dirs = resp.data;
						//console.log("A")
						dirs.forEach(function(dir){ // for each dir, create a student
							//console.log("B")
							if (dir[0] !== '.'){
								// console.log("C")
								V.students.push({
									dir: dir,
									// grade: '',
									comments: '',
									gradeAdjustment: 0,
									graded: false
								})
							}
						})

						// V.load();
						// V.autoSave();
						// console.log("D")
						V.selectStudent(V.students[0]);
						// console.log("E")
						V.loadEmailAddresses();
						V.$forceUpdate();
					})
				},
				saveStudentData: function(callback){
					var reducedDat = V.students.map(function(stu){
						return {
							dir: stu.dir,
							comments: stu.comments,
							gradeAdjustment: stu.gradeAdjustment,
							graded: stu.graded,
							rubric: stu.rubric
						}
					})
					axios({
						method: 'post',
						url: '/saveStudentData',
						data: {
							dir: V.hwDir,
							dat: JSON.stringify(reducedDat),
						}
					}).then(function(resp){
						if (callback)
							callback();
					})
				},
				autoSave: function(){
					window.setInterval(function(){
						if (V.saving !== true){
							V.save()
						}
					}, 2000);
					
				},
				loadEmailAddresses: function(){
					axios({
						method: 'post',
						url: '/loadEmailAddresses',
						data: {
							dir: V.emailAddressPath
						}
					}).then(function(resp){
						console.log(resp);
						if (resp.data !== ""){
							console.log("Email Data Found")
							var lar = resp.data.split(/\r?\n/);
							for (var i=1; i<lar.length; i++){
								var line = lar[i].split(',');
								var match = _.find(V.students, function(stu){
									return stu.dir.split("_")[0] == line[0];
								})
								if (match)
									match.emailAddress = line[1]
								else
									console.log("No email address found for "+line[0]);
							}
						}
						else{
							console.log("Email Data Not Found")
						}
					});
				},
				reformatName: function(name){
					var nar = name.split(' ');
					if (nar.length < 2)
						return undefined;
					var lastName = nar[1].split('_')[0]
					var firstName = nar[0];
					stuName = lastName+firstName.substring(0,2);
					stuName = stuName.toLowerCase();
					return stuName;
				},
				save: function(){
					V.saving = true;
					V.updateLS();
					V.saveStudentData(function(){
						V.saveRubricData(function(){
							V.saving = false;
						});
					})
					// var dat = "";
					// V.students.forEach(function(student){
					// 	if (student.grade !== ''){
					// 		var stuName = student.dir;
					// 		if (V.namesNeedReformatting){
					// 			stuName = V.reformatName(stuName);
					// 		}

					// 		dat += "!"+stuName+" "+student.grade+"\n";
					// 		if (student.comments !== '')
					// 			dat += student.comments+"\n"
					// 		dat += "\n"
					// 	}
					// })

					// axios({
					// 	method: 'post',
					// 	url: '/save',
					// 	data: {
					// 		dir: V.hwDir,
					// 		dat: dat
					// 	}
					// }).then(function(resp){
					// 	// console.log(resp)
					// 	V.updateLS();
					// 	V.saving = false;
					// 	V.saved = true;
					// })
				},
				load: function(){
					axios({
						method: 'post',
						url: '/load',
						data: {
							dir: V.hwDir
						}
					}).then(function(resp){

						if (resp.data !== ""){
							var lines = resp.data.split('\n');
							console.log(lines)
							var savedStudents = []
							var nextStudent = {comments: []}
							for (var i = 0; i < lines.length; i++) {
								var line = lines[i]
								if (line === "")
									continue;
								if (line[0] === "!"){
									if (nextStudent.dir !== undefined)
										savedStudents.push(nextStudent)

									var lar = line.substring(1).split(" ")
									nextStudent = {comments: []}
									nextStudent.dir = lar[0];
									nextStudent.grade = lar[1];
								}
								else{
									nextStudent.comments.push(line)
								}
							}

							if (nextStudent.dir !== undefined)
								savedStudents.push(nextStudent);

							savedStudents.forEach(function(savedStudent){
								var stu = _.find(V.students, function(student){
									return student.dir == savedStudent.dir || savedStudent.dir === V.reformatName(student.dir)
								})
								stu.grade = savedStudent.grade;
								stu.comments = savedStudent.comments.join('\n\n');
								stu.graded = savedStudent.graded;
							})
						}

						console.log(V.students);

						V.selectStudent(V.students[0]);
					})
				},
				reload: function(){
					V.updateLS();
					location.reload();
				},
				updateLS: function(){
					localStorage.setItem('hwDir', V.hwDir);
					localStorage.setItem('emailAddressPath', V.emailAddressPath);
					localStorage.setItem('namesNeedReformatting', JSON.stringify(V.namesNeedReformatting));
					localStorage.setItem('additionalCode', V.additionalCode);
					localStorage.setItem('pipedInput', V.fileInput);
				},
				copyRunCommand: function(){
					document.getElementById('runCommand').select();
					document.execCommand("copy");
				},
				nextStudent: function(){
					var ind = _.findIndex(V.students, function(stu){
						return stu.dir == V.selectedStudent.dir;
					})
					ind += 1;
					if (ind >= V.students.length)
						ind = 0;
					V.selectStudent(V.students[ind])
				},
				prevStudent: function(){
					var ind = _.findIndex(V.students, function(stu){
						return stu.dir == V.selectedStudent.dir;
					})
					ind -= 1;
					if (ind < 0)
						ind = V.students.length-1;
					V.selectStudent(V.students[ind])
				},
				nextFile: function(){
					var ind = _.findIndex(V.selectedStudent.files, function(file){
						return file.name == V.selectedStudent.selectedFile.name;
					})
					ind += 1;
					if (ind >= V.selectedStudent.files.length)
						ind = 0;
					V.selectFile(V.selectedStudent.files[ind])
				},
				prevFile: function(){
					var ind = _.findIndex(V.selectedStudent.files, function(file){
						return file.name == V.selectedStudent.selectedFile.name;
					})
					ind -= 1;
					if (ind < 0)
						ind = V.selectedStudent.files.length-1;
					V.selectFile(V.selectedStudent.files[ind])
				},
				selectStudent: function(student){
					console.log("SELECTING A STUDENT");
					var stuPath = [V.hwDir, V.outputDir, student.dir].join('/');


					axios({
						method: 'post',
						url: '/ls',
						data: {
							path: stuPath
						}
					}).then(function(resp){
						console.log(resp);
						var files = resp.data.sort();
						V.processFiles(stuPath, files, student)
					})
				},
				selectFile: function(file){
					console.log(file);
					V.selectedStudent.selectedFile = file;
					V.terminal = "";
					V.runCommand = "python3 "+[this.hwDir, this.outputDir, this.selectedStudent.dir, this.selectedStudent.selectedFile.name].join('/').replace(' ', '\\ ');

					if (V.fileInputs[this.selectedStudent.selectedFile.name] !== undefined){
						V.fileInput = V.fileInputs[this.selectedStudent.selectedFile.name];
					}
					else{
						V.fileInput = ""
					}

					if (this.selectedStudent.selectedFile.name.split('.').pop() == 'py')
						if (V.autoRunMode)
							V.runScriptWithLine()
						else
							V.runScript();

					V.previouslySelectedFile = this.selectedStudent.selectedFile.name;
					V.$forceUpdate();
				},
				processFiles: function(studentPath, files, student){
					axios({
						method: 'post',
						url: '/processFiles',
						data: {
							path: studentPath,
							files: files,
						}
					}).then(function(resp){
						console.log(resp);
						var cleaned = []
						resp.data.forEach(function(file){
							if (file.type === 'py'){

								var graderFile = _.find(resp.data, function(needle){
									if (needle.type === 'html')
										return needle.name.indexOf(file.name) !== -1;
									else 
										return false
								})
								if (graderFile !== undefined){
									var el = document.createElement('html');
									el.innerHTML = graderFile.html;
									file.graderHtml = $(el).find('body').html();
								}

								cleaned.push(file);
							}
							if (file.type === 'rtf'){
								var el = document.createElement('html');
								el.innerHTML = file.html;
								file.html = $(el).find('body').html();

								cleaned.push(file);
							}
							if (file.type === 'txt'){
								cleaned.push(file);
							}
							if (file.type === 'html'){
								if (file.name.indexOf('.py') === -1){
									cleaned.push(file);
								}
							}

						})
						console.log(cleaned);
						if (cleaned.length > 0){
							student.files = cleaned;
						}
						else{
							student.files = [{
								name: "noFiles",
								html: "No readable files, check directory. Here are the files we found:<br>"+files.join('<br>')
							}]
						}
						student.selectedFile = student.files[0];
						V.selectedStudent = student;

						// if (V.selectedStudent.rubric == undefined){
						// 	V.selectedStudent.rubric = {'c-dummy': {items: [], points: 0, comments: ""}}
						// 	// V.view = "setup"
						// }

						// try to look at same file you were looking at for the last student
						var match = _.findIndex(V.selectedStudent.files, {name: V.previouslySelectedFile})
						if (match === -1 || V.previouslySelectedFile == '')
							V.selectFile(V.selectedStudent.files[0]);
						else
							V.selectFile(V.selectedStudent.files[match]);

						// V.selectFile(V.selectedStudent.files[0]);
						V.$forceUpdate();
					})
				},
				getHighlightedPythonFiles: function(studentPath, files){
					axios({
						method: 'post',
						url: '/getHighlightedPythonFiles',
						data: {
							path: studentPath,
							files: files,
						}
					}).then(function(resp){
						console.log(resp);
						resp.data.forEach(function(file){
							var el = document.createElement('pre')
							el.innerHTML = file;
							$('#codeCol').append(el);
						})
					})
				},
				getFile: async function(path){
					var result = await axios({
						method: 'post',
						url: '/highlightFile',
						data: {
							path: path
						}
					}).then(function(resp){
						console.log(resp);
						return resp;
					})
				},
				runScript: function(){
					var scriptPath = [this.hwDir, this.outputDir, this.selectedStudent.dir, this.selectedStudent.selectedFile.name].join('/')//.replace(' ', '\\ ');
					axios({
						method: 'post',
						url: '/runScript',
						data: {
							path: scriptPath,
							input: V.fileInput //.split(',').join('\n')
						}
					}).then(function(resp){
						console.log(resp);
						V.terminal = resp.data.join('\n').replace('\\n', '\n');
					})
				},
				runScriptWithLine: function(){
					var scriptPath = [this.hwDir, this.outputDir, this.selectedStudent.dir, this.selectedStudent.selectedFile.name].join('/')//.replace(' ', '\\ ');
					axios({
						method: 'post',
						url: '/runScriptWithLine',
						data: {
							path: scriptPath,
							input: V.fileInput.split(',').join('\n'),
							line: V.additionalCode
						}
					}).then(function(resp){
						console.log(resp);
						V.terminal = resp.data.join('\n').replace('\\n', '\n');
					})
				},
				runEditedScript: function(){
					var scriptPath = [this.hwDir, this.outputDir, this.selectedStudent.dir, this.selectedStudent.selectedFile.name].join('/')//.replace(' ', '\\ ');
					axios({
						method: 'post',
						url: '/runEditedScript',
						data: {
							path: scriptPath,
							input: V.fileInput.split(',').join('\n'),
							code: V.selectedStudent.selectedFile.raw
						}
					}).then(function(resp){
						console.log(resp);
						V.terminal = resp.data.join('\n').replace('\\n', '\n');
					})
				},
				makeGradeFile: function(){
					axios({
						method: 'post',
						url: '/makeGradeFile',
						data: {
							path: V.hwDir,
						}
					}).then(function(resp){
						console.log(resp); // TODO Doesn't catch errors.
						alert("Grade File Made!");
					})
				},
				copyCommonFiles: function(){
					axios({
						method: 'post',
						url: '/copyCommonFiles',
						data: {
							path: V.hwDir,
						}
					}).then(function(resp){
						console.log(resp);
					})
				},
				runGrader: function(){
					axios({
						method: 'post',
						url: '/runGraderOnAll',
						data: {
							path: V.hwDir,
						}
					}).then(function(resp){
						console.log(resp);
					})
				},
				// Rubric
				addRubricCat: function(){
					var d = new Date();
					var id =  'c-'+d.getTime();
					var nr = {
						id: id,
						name: V.newRubricCat.name,
						items: {},
						points: V.newRubricCat.points
					}
					nr.items['i-'+d.getTime()] = {points: 0, desc: "Full credit" };

					V.rubric[id] = nr;

					// update student data with new rubric category
					V.students.forEach(function(student){
						if (student.rubric == undefined){
							student.rubric = {}
						}
						student.rubric[id] = {
							items: [],
							comments: ""
						}
					})

					V.newRubricCat.name = "";
					V.newRubricCat.points = "";
					$('#newRubricCategoryInp').focus()
				},
				removeRubricCat: function(catID){
					var c = window.confirm("Are you sure you want to delete this rubric category?")
					if (c){
						delete V.rubric[catID]
						V.students.forEach(function(student){ delete student.rubric[catID]; })
					}
				},
				addRubricItem: function(cat){
					var d = new Date();
					var id = 'i'+d.getTime()
					
					cat.items[id] = { points: V.newRubricItem.points, desc: V.newRubricItem.desc };

					V.newRubricItem.points = ""
					V.newRubricItem.desc = ""
				},
				removeRubricItem: function(cat){

				},
				saveRubricData: function(callback){
					axios({
						method: 'post',
						url: '/saveRubricData',
						data: {
							dir: V.hwDir,
							dat: JSON.stringify(V.rubric),
						}
					}).then(function(resp){
						if (callback)
							callback();
					})
				},
				loadRubricData: function(callback){
					axios({
						method: 'post',
						url: '/loadRubricData',
						data: {
							dir: V.hwDir
						}
					}).then(function(resp){
						console.log(resp)
						if (resp.data !== ""){
							V.rubric = resp.data;
							if (_.size(V.rubric) > 0){
								V.selectedRubricCat = V.rubric[_.keys(V.rubric)[0]] // not great
								V.selectedRubricCatID = _.keys(V.rubric)[0]
							}
						}

						if (callback)
							callback();
					})
				},
				studentCatGrade: function(stu, cid){
					var cat = V.rubric[cid];
					var catGrade = parseFloat(cat.points);
					var stuCat = stu.rubric[cid]
					if (stuCat == undefined)
						return "-";
					if (stuCat.items.length == 0)
						return "-"
					stuCat.items.forEach(function(itemID){
						var itemObj = cat.items[itemID]
						catGrade += parseFloat(itemObj.points)
					})
					return catGrade;
				},
				studentGrade: function(student){
					// computing grades
					var grade = 0;
					if (student.rubric === undefined)
						return "-"
					Object.keys(student.rubric).forEach(function(cid){
						var cat = student.rubric[cid]
						var rubObj = V.rubric[cid]
						var catGrade = parseFloat(rubObj.points);

						cat.items.forEach(function(itemID){

							var itemObj = rubObj.items[itemID]
							catGrade += parseFloat(itemObj.points)
						})

						grade += catGrade;
					})
					return grade+parseFloat(student.gradeAdjustment);
				},
				highestPossibleGrade: function(){
					var pts = 0;
					Object.keys(V.rubric).forEach(function(cid){
						pts += parseFloat(V.rubric[cid].points);
					})
					return pts;
				},
				rubricCatProgress: function(cat){
					if (V == undefined)
						return 0;
					return _.filter(V.students, function(stu){
						if (stu.rubric){
							var stuCat = stu.rubric[cat.id]
							if (stuCat && _.size(stuCat.items) > 0)
								return true;
							else
								return false
						}
						else
							return false;
					}).length;
				},
				makeGradeWorksheet: function(callback){
					var dat = [['Identifier', 'Full Name', 'Email Address', 'Grade', 'Feedback']]

					V.students.forEach(function(student){

						var dirAr = student.dir.split('_')
						var identifier = dirAr[1];
						var fullName = dirAr[0]
						var nameAr = fullName.split(" ")
						//var emailAddress = nameAr[0][0]+nameAr[nameAr.length-1]+"@colgate.edu";
						var emailAddress = student.emailAddress;

						var autoFeedback = ""

						var grade = 0;

						// computing grades
						Object.keys(student.rubric).forEach(function(cid){
							var rubObj = V.rubric[cid]
							var catGrade = parseFloat(rubObj.points);
							var cat = student.rubric[cid];

							cat.items.forEach(function(itemID){

								var itemObj = rubObj.items[itemID]
								catGrade += parseFloat(itemObj.points)
								if (parseFloat(itemObj.points) < 0){
									autoFeedback += `${rubObj.name}: ${itemObj.points} pts for ${itemObj.desc}.  \n`;
								}
							})

							grade += catGrade;

							if (cat.comments && cat.comments !== ""){
								autoFeedback += `${rubObj.name}: ${cat.comments}  \n`;
							}

						})

						grade += parseFloat(student.gradeAdjustment);
						if (student.comments !== "")
							var comments = autoFeedback+"Additional Comments: "+student.comments;
						else
							var comments = autoFeedback;

						dat.push([identifier, fullName, emailAddress, grade, comments])
					})

					console.log(dat);

					// var datString = dat.map(function(x){ return x.join(',') }).join('\n')
					// console.log(datString);
					axios({
						method: 'post',
						url: '/makeGradeWorksheet',
						data: {
							dir: V.hwDir,
							dat: dat,
						}
					}).then(function(resp){
						console.log(resp);
						if (callback)
							callback();
					})
				},

				// UTILITIES
				getObjectById: function(ar, id){
					return _.findWhere(ar, {id: id});
				},
				isRubricItemSelected: function(id){
					var cat = _.findWhere(V.selectedStudent.rubric, {id: V.selectedRubricCatID});
					if (cat)
						return cat.items.indexOf(id) !== -1;
					else
						return false;
				},
				size: function(ob){
					return Object.keys(ob).length;
				},
				isEmpty: function(ob){

				}
			}
		});

		Vue.filter('truncate', function (text, stop, clamp) {
		    return text.slice(0, stop) + (stop < text.length ? clamp || '...' : '')
		})

		V.init();

		var getUrlParameter = function getUrlParameter(sParam) {
		    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
		        sURLVariables = sPageURL.split('&'),
		        sParameterName,
		        i;

		    for (i = 0; i < sURLVariables.length; i++) {
		        sParameterName = sURLVariables[i].split('=');

		        if (sParameterName[0] === sParam) {
		            return sParameterName[1] === undefined ? true : sParameterName[1];
		        }
		    }
		};
				


	</script>
</body>
</html>