:root {
  --light-background: #fafafa;
  --light-background2: #f2f2f2;
  --dark-background: #5A646E;
  --base: #821019;
  --light-base: #eaeaea; /*#D2D4D6;*/
  --accent: #E10028;
  --accent-text: black;
}

/*
:root {
  --light-background: #fafafa;
  --dark-background: #34495e;
  --base: #07689f;
  --light-base: #a2d5f2;
  --accent: #ff7e67;
  --accent-text: black;
}
*/


body, input, textarea, button{
	font-family: 'Libre Franklin', sans-serif;
	margin: 0;
	padding: 0;
	background: var(--light-background)
}

div, input, textarea{box-sizing: border-box;}

h1{
	font-family: 'DM Serif Display', serif;
	width: 100%;
	text-align: center;
}

pre{
	font-family: 'Inconsolata', monospace;
}

input, textarea{
	padding: .5em;
	border: 0;
	border: 1px solid var(--light-base);
}
	input:focus, textarea:focus{
		border: 1px solid var(--accent);
		color: var(--accent-text);
		outline: none;
	}

button{
	padding: .5em;
	background: var(--light-base);
	border: 0;
	border: 1px solid var(--light-base);
	color: var(--accent-text);
	border-radius: .3em;
}
	button:hover{
		cursor: pointer;
		background: var(--accent);
		border: 1px solid var(--accent);
		color: var(--light-background);
	}

#mainContain{position: relative;}

#mainCols{
	display: flex;
	flex-wrap: nowrap;
}

#nav{
	padding: 1em;
	/*display: flex; */
	/*justify-content: space-between;*/
	background: var(--base);
	color: var(--light-background);
	align-items: center;
}

	#saveBtn{
		background: var(--accent);
		border: 1px solid var(--accent);
		color: var(--light-background);
	}

div, iframe, pre{
	box-sizing: border-box;
}

pre{
	white-space: pre-wrap; 
}

#additionalCode{
	font-family: 'Inconsolata', monospace;
}

#assessmentContain{
	position: fixed;
	bottom: 1em;
	right: 1em;
	width: 15%;
}
	#studentGrade{
		display: block;
		width: 100%;
		font-size: 5em;
		text-align: center;
		margin-bottom: .25em;
		padding: 0;
		border: none;
	}
	#studentGrade:focus{
		outline: none;
		color: var(--accent);
	}

	#studentComments, #studentCatComments{
		display: block;
		width: 100%;
		min-height: 200px;
	}

#studentCol{
	width: 15%;
	border-right: 1px solid rgba(7, 13, 89,0.1);
}

	#studentCol .studentColRow{
		padding: .75em 1em;
		border-bottom: 1px solid rgba(7, 13, 89,0.1);
	}

	#studentCol .studentColRow:hover{
		cursor: pointer;
		background: var(--light-base);
		/*color: var(--accent);*/
	}

	.selectedStudent{
		background: var(--light-base);
	}

#infoCol{
	width: 65%;
	padding: 0em 0em;
	margin-bottom: 300px;
}

#setupCol{
	width: 85%;
	padding: 2em;
}

#gradeCol{
	width: 20%;
	padding: 1em;
	background: var(--light-background2);
}
	#rubricCatSelector{
		font-size: 2em;
		width: 100%;
		outline: none;
		border: none;
		background: none;
		margin: .5em 0 1em 0;
	}
		#rubricCatProgressBar{
			position: relative;
			height: 10px;
			margin-bottom: .7em;
		}
			#rubricCatProgressBar div{
				position: absolute;
				top: 0;
				left: 0;
				height: 10px;
				border-radius: 5px;
			}
			#rubricCatProgressBar .back{
				width: 100%;
				background: var(--light-base);
			}
			#rubricCatProgressBar .front{
				background: var(--base);
			}
			#textProgress{
				font-size: .7em;
				margin-bottom: 2em;
				text-transform: uppercase;
			}

	.rubricItem{
		display: flex;
		margin-bottom: 1em;
		align-items: start;
	}

		.rubricItem input{
			background: none;
			border: none;
			outline: none;
			border-bottom: 1px solid rgba(0,0,0,0);
		}
			.rubricItem input:hover{
				border-bottom: 1px solid var(--accent);
			}

			.rubricItem input:focus{
				border-bottom: 1px solid var(--accent);
			}

	.rubricItemIndex{
		width: 20%;
		background: var(--light-background);
		padding: .5em;
		border-radius: .2em;
		margin-right: 1em;
		text-align: center;
	}
		.rubricItemIndex.selected{
			background: var(--dark-background);
			color: var(--light-background);
		}

	.rubricItemPoints{
		font-weight: bold;
		width: 20%;
		font-size: 1em;
	}
	.rubricItemDesc{
		font-size: .8em;
		width: 100%;
	}


#fileNav{
	display: flex;
	flex-wrap: nowrap;
	/*justify-content: space-around;*/
	justify-content: stretch;
	margin-bottom: 1em;
	border-bottom: 1px solid rgba(7, 13, 89,0.1);
}
	#fileNav > div{
		padding: .75em 1em;
		flex-grow: 1;
		text-align: center;
		border-right: 1px solid rgba(7, 13, 89,0.2);
	}
	#fileNav > div:hover{
		cursor: pointer;
		/*background: var(--light-base);*/
		color: var(--accent);
		/*border-bottom: 1px solid var(--light-base);*/
	}
	#fileNav > div:last-child{
		border-right: 0px solid rgba(7, 13, 89,0.2);
	}

	.selectedFile{
		/*background: var(--light-base);*/
		color: var(--accent);
		/*border-bottom: 1px solid var(--light-base);*/
	}

#fileContain{
	padding: 0em 1em;
}

#terminal{
	background: var(--dark-background);
	color: var(--light-background);
	padding: 1em;
	margin: 0 0 0 0;
	width: 50%;
}
#scriptOptions{
	padding: 0 1em 1em 1em;
	margin: 0 0 0 0;
	width: 50%;
}
	#scriptOptions input, #scriptOptions textarea{
		margin-bottom: .5em;
		width: 100%;
	}
	#scriptOptions button{
		margin-bottom: .5em;
	}

#scriptEditor{
	width: 100%;
	height: 600px;
	font-family: 'Inconsolata', monospace;
}

/*iframe{
	transform: scale(0.75);
}*/

#saveDot{
	position: absolute;
	z-index: 10;
	font-family: sans-serif;
	font-size: 12em;
	right: .1em;
	top: -.3em;
}
	#saveDot > span{
		font-size: .1em;
	}

#studentOverview{
	width: 100%;
	border-collapse: collapse;
}
	#studentOverview tr:nth-child(even){
		background: var(--light-background2);
	}
	#studentOverview td, #studentOverview th{
		text-align: center;
		padding: .5em;
	}
		#studentOverview td:first-child, #studentOverview th:first-child{
		text-align: left;
	}

table.diff {font-family:Courier; border:medium;}
.diff_header {background-color:#e0e0e0}
td.diff_header {text-align:right}
.diff_next {background-color:#c0c0c0}
.diff_add {background-color:#aaffaa}
.diff_chg {background-color:#ffff77}
.diff_sub {background-color:#ffaaaa}